<div id="header" class="header">
    <a href="#top"><img id="fabian-logo" src="/assets/img/logo-fabian.png" alt="logo-fabian"></a>
    <menu class="menu">
        <a href="#infos-short-mail" class="menu-sections">About me</a>
        <a href="#skill-link" class="menu-sections">Skills</a>
        <a href="#description-portfilio-mobile" class="menu-sections">Portfolio</a>
    </menu>
    <img (click)="toggleMenu()" id="burger-menu" style="display: none;" src="/assets/img/burger-menu.svg"
        alt="burger-menu">
</div>
<div id="mobile-nav" style="display: none;">
    <a (click)="toggleMenu()" href="#about-me" class="mobile-nav-style">About me</a>
    <a (click)="toggleMenu()" href="#my-skills" class="mobile-nav-style">Skills</a>
    <a (click)="toggleMenu()" href="#headline-portfolio" class="mobile-nav-style">Portfolio</a>
    <a (click)="toggleMenu()" href="#contact-headline" class="mobile-nav-style">Contact</a>
</div>