.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.menu-sections {
    margin-right: 29px;
    font-size: 23px;
    cursor: pointer;

    &:hover {
        color: #70E61C;
    }
}

#fabian-logo {
    height: 35px;
}

@media (max-width: 900px) {
    #burger-menu {
        display: block !important;
    }

    .menu {
        display: none;
    }

    .header {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;

    }
}