<footer id="footer">
    <div id="container-footer">
        <div id="logo-impressum">
            <img id="fabian-footer" src="/assets/img/logo-fabian.png" alt="logo-fabian">
            <a href="/impressum" id="impressum">Imprint</a>
        </div>
        <span id="copyright">© Fabian Jablonka</span>
        <div id="icons-footer">
            <a href="https://github.com/Fabianjab"><img class="icon" src="/assets/img/icon-github.png" alt="icon-github"></a>
            <a href="mailto:fabian-jablonka@web.de"><img class="icon" src="/assets/img/icon-mail.png" alt="icon-mail"></a>
            <a href="https://www.linkedin.com/in/fabian-jablonka-7b2839229/"><img class="icon" src="/assets/img/icon-linkedin.png" alt="icon-linkedin"></a>
        </div>
        <span style="display: none;" id="responsive-impressum">Imprint</span>
    </div>
</footer>