<img id="background-shadow" src="/assets/img/purple-shadow.svg" alt="">
<div class="about-me-container">
    <div class="about-me-section">
        <h2 id="about-me">About me</h2>
        <span class="about-me-introduction">Hi, I am a 28-year-old Front-end developer located near Heidelberg,
            Germany. I possess the ability to independently code dynamic web applications, with a strong focus on
            utilizing JavaScript, particularly within the Angular framework. Drawing from my background in the
            E-commerce industry, with a particular emphasis on SEO, I bring valuable insights to enhance the projects.
        </span>
        <div class="infos-about-me">
            <img class="icons-about-me" src="/assets/img/icon-light.svg" alt="">
            <span>Excelling under time pressure, I have accumulated significant experience from agency life, where I
                successfully managed deadline-based projects.
            </span>
        </div>
        <div class="infos-about-me">
            <img class="icons-about-me" src="/assets/img/icon-puzzle.svg" alt="">
            <span>Depth experience working in large teams and adeptly handling interfaces with other departments
                on the same projects.
            </span>
        </div>
    </div>
    <div class="avatar-section">
        <img id="avatar" src="/assets/img/avatar-fabian.png" alt="avatar-fabian">
        <div id="green-decliner"></div>
    </div>
</div>