<img id="background-shadow" src="/assets/img/purple-shadow.svg" alt="">
<div class="about-me-container">
    <div class="about-me-section">
        <h2 id="about-me">About me</h2>
        <span class="about-me-introduction">Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
            porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </span>
        <div class="infos-about-me">
            <img class="icons-about-me" src="/assets/img/icon-light.svg" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
        <div class="infos-about-me">
            <img class="icons-about-me" src="/assets/img/icon-puzzle.svg" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
    </div>
    <div class="avatar-section">
        <img id="avatar" src="/assets/img/avatar-fabian.png" alt="avatar-fabian">
        <div id="green-decliner"></div>
    </div>
</div>