<div class="container-projects-left">
    <div class="laptop-section-left">
        <img class="laptop-projects-left" src="/assets/img/projects/laptop-join.png" alt="laptop">
    </div>
    <div class="decription-projects-right">
        <h3>Join</h3>
        <h4>HTML | CSS | JavaScript</h4>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
        <div class="buttons-section-projects">
            <button class="button-live">Live</button>
            <button class="button-github">github</button>
        </div>
    </div>
</div>

<div class="container-projects-right">
    <div class="decription-projects-left">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
        <div class="buttons-section-projects">
            <button class="button-live">Live</button>
            <button class="button-github">github</button>
        </div>
    </div>
    <div class="laptop-section-right">
        <img class="laptop-projects-right" src="/assets/img/projects/laptop-join.png" alt="laptop">
    </div>
</div>

<div class="container-projects-left">
    <div class="laptop-section-left">
        <img class="laptop-projects-left" src="/assets/img/projects/laptop-join.png" alt="laptop">
    </div>
    <div class="decription-projects-right">
        <h3>Simple CMR</h3>
        <h4>Angular | Firebase</h4>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
        <div class="buttons-section-projects">
            <button class="button-live">Live</button>
            <button class="button-github">github</button>
        </div>
    </div>
</div>

<img id="purple-background-projects" src="/assets/img/purple-background-projects.svg" alt="purple-background-projects">

<div class="container-projects-right">
    <div class="decription-projects-left">
        <h3>P</h3>
        <h4> JavaScript | HTML | CSS | Api </h4>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
        <div class="buttons-section-projects">
            <button class="button-live">Live</button>
            <button class="button-github">github</button>
        </div>
    </div>
    <div class="laptop-section-right">
        <img class="laptop-projects-right" src="/assets/img/projects/laptop-join.png" alt="laptop">
    </div>
</div>

<img id="green-background-projects" src="/assets/img/green-background-projects.svg" alt="green-background-projects">