<div class="contact">
    <div id="contact-headline-optic">
        <div id="contact-decliner"></div>
        <h2 id="contact-headline">Contact</h2>
    </div>
    <div id="form-and-description">
        <div id="contact-section">
            <div id="contact-description">
                <span id="small-headline-contact">Got a problem to solve?</span> <br><br>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to
                    your
                    projects with my work. <br> <br>
                    Need a Frontend developer? Contact me!</span>
            </div>
        </div>
        <div id="form-with-button">
            <form id="contact-form">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <textarea id="growable-input" placeholder="Your message"></textarea>
            </form>
            <button id="button-form" type="submit">Send message!</button>
        </div>
    </div>
    <div id="position-arrow">
        <a href=".header">
            <img id="arrow-top" src="/assets/img/arrow-top.svg" alt="arrow-top">
        </a>
    </div>
</div>